@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap";
:root {
    --palette-1: #0a403d;
    --palette-2: hsl(177, 77%, 33%);
    --palette-3: #e8fbfa;
    --palette-4: #eee;
    --palette-5: #fff;
    --palette-6: #92f2ed;
    --palette-7: #3d3f44;
    --palette-8: #C4C4C4;
    --palette-9: hsla(177, 77%, 33%, 0.25);
    --color-text-primary: var(--palette-1);
    --color-links-primary: var(--palette-2);
    --color-bg-primary: var(--palette-5);
    --color-bg-secondary: var(--palette-3);
    --color-bg-header-bottom: var(--palette-8);
    --color-border-header: var(--palette-7);
    --color-border-primary: var(--palette-4);
    --color-border-secondary: var(--palette-2);
    --color-shadow-focus: var(--palette-9);
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body,
h1{
    margin: 0;
}
html,
body{
    font-size: 100%;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    color: var(--color-text-primary);   
    background-color: var(--color-border-primary);
}
a {
    color: var(--color-text-primary) inherit;
    font-weight: bold;
}
a:hover {
    color: var(--color-links-primary);
}

.wrapper{
    width: 90%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

/* Header */
header{
    display: block;
}
.header{
    background-color: var(--color-bg-primary);
}
.header-logo{
    display: flex;
    border-bottom: 2px solid var(--color-border-header);
    height: 92px;
    border-top: 8px solid var(--color-border-secondary);
    background-color: var(--color-bg-primary);
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 100%;
}
.logo{
    display: block;
    height: 100%;
    color: var(--color-links-primary);
    padding-top: 20px;
    margin-bottom: -20px;
}
.logo:hover{
    text-decoration: none;
}
.logo > h1{
    font-weight: 700;
    text-decoration: none;
    line-height: 1.8;
}
.header-nav{
    display: flex;
    align-items: center;
}
.header-nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.header-nav ul > li {
    margin-left: 1rem;
    /* margin-right: 10px; */
}
.header-nav ul > li > a:hover {
    text-decoration: none;
}
.header-bottom{
    padding: .5rem 0 .5rem 0;
    background-color: var(--color-bg-header-bottom);
}
.header-bottom-content{
    display: flex;
    justify-content: space-between;
}
.header-button{
    border-radius: 8px;
    width: 14rem;
}
.search-bar{
    display: flex;
    width: 100%;
}
.search-input{
    flex-grow: 1;
    border-radius: 8px 0 0 8px;
    border: 0;
}
.search-input:focus{
    outline: 0;
    box-shadow: 0 0 0 0.2rem var(--color-shadow-focus);
}
.search-button{
    border-radius: 0 8px 8px 0;
}
.btn1, .btn1 > button {
    color: var(--white);
    letter-spacing: 1px;
    /* text-transform: uppercase; */
    transition: 0.5s all;
    background: var(--color-links-primary);
    font-weight: 600;
    cursor: pointer;   
    white-space: nowrap;
}

.btn1:hover, .btn1 > button:hover, .btn1 > button:active, .btn-secondary.focus, .btn-secondary:focus {
    color: var(--white);
    background-color: var(--color-text-primary);
}
.btn1:focus, .btn1 > button:focus{
    outline: 0;
    box-shadow: 0 0 0 0.2rem var(--color-shadow-focus);
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    background-color: var(--color-text-primary);
}

.btn-secondary{
    border: 0;
}

.borderrad {
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,.125);
}

.dropmenu, .dropmenu > ul {
    width: 14em;
    border-radius: 8px;
}
.dropdown-menu .dropdown-menu{
    top: auto;
    left: 100%;
    transform: translateY(-2rem);
}
.dropdown-item{
    transition: 0.2s all;
    padding: .4rem 1.5rem;
}
.dropdown-item:focus, .dropdown-item:hover {
    background-color: var(--color-links-primary);
    cursor: pointer;
}
.dropdown-item .dropdown-menu{
    display: block;
    opacity: 0;
    transition: opacity .3s 1s;
}
.dropdown-item > a{
    font-weight: 400;
    color: var(--color-text-primary);
}
.dropdown-item:focus, .dropdown-item:hover > a, .dropdown-item > a:hover{
    color: var(--color-bg-primary);
    text-decoration: none;
    cursor: pointer;
}
.dropdown-item .submenu::after{
    content: ">";
    margin-left: 1rem;
}
.dropdown-item:hover .dropdown-menu,
.dropdown-menu:hover {
    opacity: 1;
    transition: opacity .3s .1s;
}

.catalog > .row {
    margin-left: 0;
    margin-right: -.5rem;
}
.card {
    border-bottom-left-radius: calc(.5rem - 1px);
    border-bottom-right-radius: calc(.5rem - 1px);
    /* border: 0; */

}
@media (min-width: 576px){
    .card {
        margin: .4rem .4rem 0 0;
        width: 15.7rem;
    }
}
@media (min-width: 768px){
    .card {
        margin: .3rem .3rem 0 0;
        width: 14.2rem;
    }
}
@media (min-width: 992px){
    .card {
        width: 14.3rem;
        margin: .3rem .3rem 0 0;
    }
}
@media (min-width: 1200px){
    .card {
        margin: .5rem .5rem 0 0;
        width: 16.96rem;
    }
}
.card-img, .card-img-top{
    border-top-left-radius: calc(.5rem - 1px);
    border-top-right-radius: calc(.5rem - 1px);
}